<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Email Template</title>
</head>

<body style="margin: 0; padding: 0; font-family: Arial, sans-serif; line-height: 1.6; color: #4A476F; background-color: #FAFAFA;">
<table cellpadding="0" cellspacing="0" border="0" width="100%">

    <tr>
        <td align="center">
            <table cellpadding="0" cellspacing="0" border="0" width="600" style="max-width: 100%; ">



                <tr>
                    <td align="center" style="padding: 40px;">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border: 1px #E1E5EA solid; border-top: 5px green solid; padding: 40px;">


                            <tr>
                                <td style="text-align: center;">
                                    <h2 style="font-size: 32px; color: #0E093F; font-weight: 700; margin-bottom: 0;">Verify Your Email Address</h2>
                                    <p style="font-size: 14px; margin-top: 10px;">Hello <a href="#" style="color: #4A476F; text-decoration: none;">{{name}}</a>,
                                        thank you for using this application. Here is your otp</p>
                                    <p style="padding: 16px 24px; border: 1px solid #E1E5EA; background-color: #FAFAFA; font-size: 40px; font-weight: 900; letter-spacing: 1.6px; text-transform: uppercase; margin-top: 10px;">
                                        {{otp}}</p>
                                    <p style="margin-top: 10px;">Thank you again for choosing our services.
                                </td>
                            </tr>

                        </table>
                <tr>
                    <td style="text-align: center; padding: 40px 0;">
                        <h1 style="font-size: 24px; color: #0E093F; margin-bottom: 0;">Get in Touch</h1>
                        <p style="font-size: 14px; margin-top: 10px;">Email: <a href="mailto:hello@app.com" style="color: #4A476F; text-decoration: none;">hello@app.com</a></p>
                        <p style="font-size: 14px;">Phone: (234) 909-090-0990</p>
                        <div>
                            <i class="fab fa-facebook" style="font-size: 24px; color: #0E093F; margin: 0 10px;"></i>
                            <i class="fab fa-instagram" style="font-size: 24px; color: #0E093F; margin: 0 10px;"></i>
                            <i class="fab fa-twitter" style="font-size: 24px; color: #0E093F; margin: 0 10px;"></i>
                        </div>
                    </td>
                </tr>
                <tr></tr>
                </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>

</html>
